.link{
text-decoration: none;
color:black;

}

.button{
display:inline-block;
border-radius: 4px;
padding-top: 6px;
padding-right: 22px;
padding-bottom: 6px;
padding-left: 22px;
background-color: #e7e7e7;
margin-bottom: 10px;
}